{{define "main"}}
<a href="/c/{{.Chat.ChatId}}">This page</a><br>
<a href="/h/{{.Chat.ChatId}}">Chat history</a><br>
<a href="/l?groups_in_common_userid={{.Chat.ChatId}}">Groups in common</a><br>

<pre>{{.ChatRaw}}</pre>
{{end}}