{{define "main"}}
<div class="row">
    <ul class="list-group list-group-flush">
        {{range .Chats}}
        <li class="list-group-item"><a href="/h/{{.ChatId}}">{{.ChatName}}</a></li>
        {{end}}
    </ul>
</div>
{{end}}