{{define "main"}}
<div class="row">
    <div class="d-grid gap-2 d-md-block">
        {{$sel := .SelectedFolder}}
        {{range .ChatFolders}}
            {{$btnClass := "btn-outline-primary"}}
            {{if eq $sel .Id}}
                {{$btnClass = "btn-primary"}}
            {{end}}
            <a class="btn btn-sm {{$btnClass}}" href="/l?folder={{.Id}}">{{.Title}}</a>
        {{end}}
    </div>
</div>
<div class="row">
    <ul class="list-group list-group-flush">
        {{range .Chats}}
        <li class="list-group-item"><a href="/h/{{.ChatId}}">{{.ChatName}}</a></li>
        {{end}}
    </ul>
</div>
{{end}}