{{define "message"}}
    {{if eq .needPrevFooter true}}
        </div></div></div>
    {{end}}

    {{$flexRow := ""}}
    {{$borderColor := ""}}
    {{$cardWidth := 100}}
    {{$realNeedSender := false}}

    {{if eq .needHeader true}}
        {{if eq .chat.Type "User"}}
            {{if isMe .parent.SenderId}}{{$flexRow = "flex-row"}}{{else}}{{$flexRow = "flex-row-reverse"}}{{end}}
            {{if isMe .parent.SenderId}}{{$borderColor = "border-secondary"}}{{else}}{{$borderColor = "border-primary"}}{{end}}
            {{$cardWidth = 45}}
        {{else}}
            {{$flexRow = "flex-row"}}
            {{$borderColor = ""}}
            {{$cardWidth = 75}}
            {{if eq .needSender true}}
                {{$realNeedSender = true}}
            {{end}}
        {{end}}
        {{$cardPadding := 2}}
        {{if eq .parent.Deleted true}}
            {{$cardPadding = 0}}
            <a class="link-secondary fw-lighter small" data-bs-toggle="collapse" href="#m{{.parent.MessageId}}" role="button">
                ❌
                <span title="{{.parent.Date | DateTime}}">
                {{.parent.Date | Time}}
            </span>
            </a>

        {{end}}
        <div class="d-flex {{$flexRow}} my-{{$cardPadding}}">
        <div class="card border {{$borderColor}} {{if eq .parent.Deleted true}}collapse{{end}}" style="max-width: {{$cardWidth}}%; min-width: 10%;" id="m{{.parent.MessageId}}">
        <div class="card-body p-1">
    {{end}}

    {{if eq $realNeedSender true}}
            <h6 class="card-subtitle mb-2 text-muted"><a href="/c/{{.parent.SenderId}}">{{.parent.SenderName}}</a></h6>
    {{end}}

    {{$rendered := ""}}
    {{if .parent.FormattedText}}
        {{$rendered := .parent.FormattedText | renderText}}
        {{if $rendered}}
            {{$rendered}}<br>
        {{end}}
    {{end}}
    {{if .parent.SimpleText}}
        {{.parent.SimpleText}}
    {{end}}

    {{$attachmentsCount := .parent.Attachments | len}}
    {{if gt $attachmentsCount 0}}
        {{if eq .needHeader true}}{{if ne $rendered ""}}<br>{{end}}{{end}}
        {{range .parent.Attachments}}
            <a href="/f/{{.Id}}">{{if .Thumb}}<img src="data:image/png;base64, {{.Thumb}}" title="{{.Name}}" alt=""/>{{else if .Name}}{{.Name}}{{else}}link{{end}}</a>
        {{end}}
    {{end}}

    {{if eq .needHeader true}}
        <br>
        <div class="align-bottom text-end fw-lighter small position-absolute bottom-0 end-0">
            {{if .parent.Edited}}📝{{end}}
            <span title="{{.parent.Date | DateTime}}">
                <a class="link-secondary" href="/m/{{.chat.ChatId}}/{{.parent.MessageId}}">{{.parent.Date | Time}}</a>
            </span>
            {{$pubLink := GetLink .chat.ChatId .parent.MessageId}}
            {{if ne $pubLink ""}}
                <a class="link-secondary" href="{{$pubLink}}">t.me</a>
            {{end}}
        </div>
    {{end}}

    {{if eq .needFooter true}}
            </div></div></div>
    {{end}}
{{end}}