{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TgWatch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/j">Journal</a></li>
                        <li><a class="dropdown-item" href="/o">Overview</a></li>
                        <li><a class="dropdown-item" href="/c">Chat info</a></li>
                        <li><a class="dropdown-item" href="/h">Chat history</a></li>
                        <li><a class="dropdown-item" href="/m">Single message</a></li>
                        <li><a class="dropdown-item" href="/e">Edited message</a></li>
                        <li><a class="dropdown-item" href="/d">Deleted message</a></li>
                        <li><a class="dropdown-item" href="/f">File</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{end}}