{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TgWatch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/j">Journal</a></li>
                        <li><a class="dropdown-item" href="/l">Chats list</a></li>
                        <li><a class="dropdown-item" href="/to">TDLib options</a></li>
                        <li><a class="dropdown-item" href="/as">Active sessions</a></li>
                        <li><a class="dropdown-item" href="/h">Saved messages</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item disabled" href="/c">Chat info</a></li>
                        <li><a class="dropdown-item disabled" href="/m">Single message</a></li>
                        <li><a class="dropdown-item disabled" href="/f">File</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/s">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <div class="input-group">
                <span class="input-group-text" id="phone-icon"><a href="/new" class="text-decoration-none">📞</a></span>
                <label for="acc"></label>
                <select class="form-select me-2" id="acc" name="acc" aria-describedby="phone-icon" onchange="changePhone(this);">
                    {{$sel := false}}
                    {{range accountsList}}
                        <option value="{{.Id}}" {{if isCurrentAcc .Id}} {{$sel = true}} selected{{end}}>{{.Phone}}</option>
                    {{end}}
                    {{if eq $sel false}}
                        <option value=""selected></option>
                    {{end}}
                </select>
            </div>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="?a=1">DEBUG</a>
            </li>
        </ul>
    </div>
</nav>
{{end}}