{{define "overview_table"}}
<table class="table table-hover table-sm">
    <thead class="">
    <tr>
        <th scope="col">
            Chat
        </th>
        <th scope="col">
            Total
        </th>
        <th scope="col">
            Messages
        </th>
        <th scope="col">
            Edits
        </th>
        <th scope="col">
            Deletes
        </th>
    </tr>
    </thead>
    <tbody>
    {{range .Chats}}
    <tr>
        <td>
            <a href="/h/{{.ChatId}}">{{.ChatName}}</a>
        </td>
        <td>
            {{if gt .CountTotal 0}}
            <span class="badge bg-secondary">{{.CountTotal}}</span>
            {{end}}
        </td>
        <td>
            {{if gt .CountMessages 0}}
            <span class="badge bg-success">{{.CountMessages}}</span>
            {{end}}
        </td>
        <td>
            {{if gt .CountEdits 0}}
            <span class="badge bg-info">{{.CountEdits}}</span>
            {{end}}
        </td>
        <td>
            {{if gt .CountDeletes 0}}
            <span class="badge bg-danger">{{.CountDeletes}}</span>
            {{end}}
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
{{end}}