{{define "main"}}
<div class="col">
    <form method="post">
    <div class="row">
            <div class="col-3">
                <h4>Ignore chats</h4>
                <table class="table table-sm" id="ignoreChatsTable">
                    <thead class="">
                    <tr>
                        <th scope="col">
                            Chat Name
                        </th>
                        <th scope="col">
                            Chat ID
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {{range $key, $value := .IgnoreChatIds }}
                            {{$chat := $key | chatInfoLocal}}
                            <tr>
                                <td>
                                    {{$chat.ChatName}}
                                </td>
                                <td>
                                    <label>
                                        <input type="text" name="ignoreChatIds[]" value="{{$chat.ChatId}}" readonly>
                                    </label>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-outline-secondary" onclick="deleteRow(this);">➖</a>
                                </td>
                            </tr>
                        {{end}}
                        <tr>
                            <td>
                            </td>
                            <td>
                                <label>
                                    <input type="text" name="ignoreChatIds[]" value="" placeholder="(add new)">
                                </label>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-secondary" onclick="addRow('#ignoreChatsTable');">➕</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3">
                <h4>Ignore authors</h4>
                <table class="table table-sm" id="ignoreUsersTable">
                    <thead class="">
                    <tr>
                        <th scope="col">
                            Name
                        </th>
                        <th scope="col">
                            ID
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {{range $key, $value := .IgnoreAuthorIds }}
                            {{$chat := $key | chatInfoLocal}}
                            <tr>
                                <td>
                                    {{$chat.ChatName}}
                                </td>
                                <td>
                                    <label>
                                        <input type="text" name="ignoreAuthorIds[]" value="{{$chat.ChatId}}" readonly>
                                    </label>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-outline-secondary" onclick="deleteRow(this);">➖</a>
                                </td>
                            </tr>
                        {{end}}
                        <tr>
                            <td>
                            </td>
                            <td>
                                <label>
                                    <input type="text" name="ignoreAuthorIds[]" value="" placeholder="(add new)">
                                </label>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-secondary" onclick="addRow('#ignoreUsersTable');">➕</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2">
                <h4>Ignore folders</h4>
                <table class="table table-sm" id="ignoreFoldersTable">
                    <thead class="">
                    <tr>
                        <th scope="col">
                            Name
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {{range $folder, $value := .IgnoreFolders }}
                            <tr>
                                <td>
                                    <label>
                                        <input type="text" name="ignoreFolders[]" value="{{$folder}}" readonly>
                                    </label>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-outline-secondary" onclick="deleteRow(this);">➖</a>
                                </td>
                            </tr>
                        {{end}}
                        <tr>
                            <td>
                                <label>
                                    <input type="text" name="ignoreFolders[]" value="" placeholder="(add new)">
                                </label>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-secondary" onclick="addRow('#ignoreFoldersTable', false);">➕</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
        <input type="submit" class="btn btn-sm btn-primary" value="Save">
    </form>
</div>
{{end}}