{{define "main"}}
<div class="col">
    {{if .FormattedText}}
        {{.FormattedText | renderText}}
    {{end}}
    {{if .SimpleText}}
        {{.SimpleText}}
    {{end}}


    {{$attachmentsCount := .Attachments | len}}
    {{if gt $attachmentsCount 0}}
        {{range .Attachments}}
            <a href="/f/{{.Id}}"><img src="data:image/png;base64, {{.Thumb}}" alt=""/></a>
        {{end}}
    {{end}}
</div>
{{end}}