{{define "main"}}
<div class="col col-6">
   <ul class="list-group">
       {{template "message" dict "parent" .Message "chat" .Chat "needHeader" true "needSender" true  "needFooter" true}}
   </ul>
</div>
{{end}}